<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Doctor Pocket</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/skel.min.js}"></script>
		<script th:src="@{/js/skel-layers.min.js}"></script>
		<script th:src="@{/js/init.js}"></script>
		<noscript>
			<link rel="stylesheet" th:href="@{/css/skel.css}" />
			<link rel="stylesheet" th:href="@{/css/style.css}" />
			<link rel="stylesheet" th:href="@{/css/style-xlarge.css}" />
		</noscript>
	</head>
	<body id="top">
		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<div style="overflow: hidden;">
					<div style="float:left;"><h1><a th:href="@{/menu}">Doctor Pocket</a></h1></div>
					<div style="margin-left:210px; margin-top:3px; float:left; font-size: 12px;">Doctor edition</div>
				</div>
				<nav id="nav">
					<ul>
						<li><a th:href="@{/home}" class="button special">Log out</a></li>
					</ul>
				</nav>
			</header>


		<!-- One -->
			<section id="one" class="wrapper style1">
				<header class="major">
					<h2>Welcome</h2>
					<p>Stay updated on your patient's health condition and <br> daily routine at the touch of a button</p>
				</header>
				<div class="container">
					<div class="row">
						<div class="4u">
							<section class="special box">
								<a href="/patients-list"><i class="icon fa-wheelchair major"></i></a>
								<a href="/patients-list" style="text-decoration: none;"><h3>My Patients</h3></a>
								<p>Select to view your patients list.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<a href="/messages-list"><i class="icon fa-medkit major"></i></a>
								<a href="/messages-list" style="text-decoration: none;"><h3>My messages</h3></a>
								<p>Select to view your messages.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<a href="/messagesToAll"><i class="icon fa-hospital major"></i></a>
								<a href="/messagesToAll" style="text-decoration: none;"><h3>Group Messaging</h3></a>
								<p>Select to send group messages.</p>
							</section>
						</div>
					</div>
				</div>
			</section>
			
			<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li>
						<li>Design: unipi.students</li>
					</ul>
				</div>
			</footer>
		
	</body>
</html>